<section id="components">
    <h2>Components</h2>
    <hr/>
    <section>
      <ul>
        <li>Son piezas reutilizables de código</li>
        <li>Puede contener o no, estado y propiedas</li>
        <li>Se pueden combinar para construir UI de usuarios complejas</li>
        <li>Pueden realizar acciones que afecten a otros componentes</li>
        <li>Tenemos dos opciones disponibles para su creación: con clases o con funciones</li>
        <li>Se implementan utilizando JSX</li>
      </ul>
    </section>
  <section>
      <img 
         src="https://miro.medium.com/max/800/0*0k0Dsg1IcfIUQOvu.png" 
         alt="ejemplo de componente" />
    </section>
</section>
