<section id="components">
    <h2>Componentes</h2>
    <hr />
    <section>
        <ul>
            <li>Son piezas reutilizables de código</li>
            <li>Puede contener o no, estado y propiedades</li>
            <li>Se pueden combinar para construir UI de usuarios complejas</li>
            <li>Pueden realizar acciones que afecten a otros componentes</li>
            <li>Se implementan utilizando JSX</li>
          </ul>
    </section>
    <section>
        <img 
             src="https://miro.medium.com/max/800/0*0k0Dsg1IcfIUQOvu.png" 
             alt="ejemplo de componente" />
    </section>
  <section>
      <div class="row">
          <div class="col-lg-3 col-md-6">
              <a href="https://cdn.fromdoppler.com/doppler-ui-library/latest/dashboard.html" target="_blank">
                  <img 
                     src="images/kpi.png" 
                     alt="kpi del dashboard" />
              </a>
          </div>
          <div class="col-lg-3 col-md-6">
              <a href="https://cdn.fromdoppler.com/doppler-ui-library/latest/dashboard.html" target="_blank">
                  <img 
                     src="images/kpi-disabled.png" 
                     alt="kpi del dashboard" />
              </a>
          </div>
          <div class="col-md-6">
              <a href="https://cdn.fromdoppler.com/doppler-ui-library/latest/dashboard.html" target="_blank">
                  <img 
                     src="images/carousel.png" 
                     alt="carousel del dashboard" />
              </a>
          </div>
          <div class="col-lg-4 col-md-6">
              <a href="https://cdn.fromdoppler.com/doppler-ui-library/latest/reports.html" target="_blank">
                  <img 
                     src="images/report-card.png" 
                     alt="card de reporte" />
              </a>
          </div>
          <div class="col-lg-4 col-md-6">
              <a href="https://cdn.fromdoppler.com/doppler-ui-library/latest/reports.html" target="_blank">
                  <img 
                     src="images/report-card-disabled.png" 
                     alt="card de reporte" />
              </a>
          </div>
          <div class="col-lg-4 col-md-6 px-3 py-5">
               algunos componentes de la WebApp
          </div>
      </div>
  </section>
    
 <section style="font-size: 24px">
    <h4>Hook de estado</h4>
    <div>
      <p style="text-align: justify">
          En ocasiones necesitamos guardar datos que cambian durante toda la vida útil de un componente y que causen una renderización de la vista una vez cambiados. Algunos ejemplos:
      </p>
      <ul>
        <li>Si se muestran o no todas las características de un plan (vista de Selección de Planes)</li>
        <li>Si la contraseña es visible o no (vista de Login)</li>
        <li>El slide activo de un Carousel (vista de Dashboard)</li>
        <li>Si un KPI se encuentra deshabilitado (vista de Dashboard)</li>
        <li>Ó simplemente si un botón de encuentra habilitado o no</li>
      </ul>
    </div>
    <p>Para ello se utiliza el hook: <strong><code>useState</code></strong></p>
  </section>
    
  <section style="font-size: 24px">
    <h4>Hook de efecto</h4>
    <div>
      <p style="text-align: justify">
          En ocasiones necesitamos realizar acciones que no forman parte de la responsabilidad principal del componente, sino que son efectos secundarios. Algunos ejemplos:
      </p>
      <ul>
        <li>Llamar a una Api</li>
        <li>Crear temporizadores: setInterval ó setTimeout</li>
        <li>Cambiar el título del documento con <code>document.title</code></li>
        <li>Suscribirse al evento scroll</li>
      </ul>
    </div>
    <p>Para ello se utiliza el hook: <strong><code>useEffect</code></strong></p>
  </section>
    
  <section style="font-size: 24px">
    <h4>Hook de efecto</h4>
    <div>
      <p style="text-align: justify">
         El comportamiento predeterminado es que la función de efecto se ejecute justo después de cada renderizado y al desmontar el componente. Esta ejecución de la función de efecto puede ser condicionado:
      </p>
      <ul>
          <li><strong>Especificando una array vacio (<code>[ ]</code>):</strong> Desta forma se le indica a React que la función de efecto solo será llamada luego de que el componente sea montado en el DOM</li>
          <li><strong>Especificando un conjunto de dependencias (<code>[ name, lastName ]</code>):</strong> De esta forma, cada vez que cambie name ó lastName React va a llamar a la función de efecto.</li>
      </ul>
    </div>
    <p style="font-size: 18px;"><strong>Importante: </strong> React necesita saber que props o estados se están usando en el efecto, para poder operar con los valores mas recientes. Si se omite alguna prop o estado, puede que dentro del efecto se referencie valores de renderizados anteriores.</p>
  </section>
    
  <section style="font-size: 24px">
    <h4>Hook de efecto</h4>
    <div>
      <p style="text-align: justify">
         Hay dos tipos de fectos:
      </p>
      <ul>
        <li><strong>Los que no requieren saneamiento:</strong>: No necesitan realizar niguna acción para liberar los recursos utilizados. Ejemplo: Manipulación manual del DOM o una llamada a una API</li>
        <li><strong>Los que si requieren saneamiento:</strong> De esta forma, cada vez que cambie name ó lastName React va a llamar a la función de efecto. Ejemplo: Suscripciones a eventos del DOM y temporizadores</li>
      </ul>
    </div>
    <p style="font-size: 18px;"><strong>Importante: </strong> Es necesario liberar los recursos que supongan una carga de memoria para evitar problemas de rendimiento.</p>
  </section>
  
  <section>
    <h3><code>Implementación del componente Carousel</code></h3>
  </section>

<section>
  <div class="row border">
    <div class="col-md-6">
      <img src="images/carousel.png" alt="carousel">
    </div>
    <div class="col-md-6">
      <img src="images/text-preview-post.png" alt="preview post" />
    </div>
    <div class="col-12">
      <img src="images/slide-props.png" alt="slide with props">
      <img src="images/slide.png" alt="slide">
    </div>
  </div>
</section>

<section>
  <small>Uso de los componentes de Slide y de TextPreviewPost</small>
  <div class="row border">
    <div class="col-md-6">
      <img src="images/carousel.png" alt="carousel">
    </div>
    <div class="col-md-6">
      <img src="images/use-slide-as-component.png" alt="use of slide" class="border border-primary" style="border-width: 5px !important;" />
      <img src="images/use-slide-as-function.png" alt="use of slide" class="border border-danger" style="border-width: 5px !important;" />
    </div>
  </div>
</section>

<section>
  <small>Uso del componente Carousel</small>
  <div class="row border">
    <div class="col-md-6">
      <img src="images/carousel-component.png" alt="carousel">
    </div>
    <div class="col-md-6">
      <img src="images/use-of-carousel.png" alt="use of carousel" />
    </div>
  </div>
</section>
    
<section>
  <small>Uso del componente Carousel</small>
  <div class="row border">
    <div class="col-md-6">
      <img src="images/carousel-component.png" alt="carousel">
    </div>
    <div class="col-md-6">
      <img src="images/use-of-carousel-with-other.png" alt="use of carousel" />
    </div>
  </div>
</section>
</section>
