<section id="components">
    <h2>Componentes</h2>
    <hr />
    <section>
        <ul>
            <li>Son piezas reutilizables de código</li>
            <li>Puede contener o no, estado y propiedades</li>
            <li>Se pueden combinar para construir UI de usuarios complejas</li>
            <li>Pueden realizar acciones que afecten a otros componentes</li>
            <li>Se implementan utilizando JSX</li>
          </ul>
    </section>
    <section>
        <img 
             src="https://miro.medium.com/max/800/0*0k0Dsg1IcfIUQOvu.png" 
             alt="ejemplo de componente" />
    </section>
  <section>
      <div class="row">
          <div class="col-lg-3 col-md-6">
              <a href="https://cdn.fromdoppler.com/doppler-ui-library/latest/dashboard.html" target="_blank">
                  <img 
                     src="images/kpi.png" 
                     alt="kpi del dashboard" />
              </a>
          </div>
          <div class="col-lg-3 col-md-6">
              <a href="https://cdn.fromdoppler.com/doppler-ui-library/latest/dashboard.html" target="_blank">
                  <img 
                     src="images/kpi-disabled.png" 
                     alt="kpi del dashboard" />
              </a>
          </div>
          <div class="col-md-6">
              <a href="https://cdn.fromdoppler.com/doppler-ui-library/latest/dashboard.html" target="_blank">
                  <img 
                     src="images/carousel.png" 
                     alt="carousel del dashboard" />
              </a>
          </div>
          <div class="col-lg-4 col-md-6">
              <a href="https://cdn.fromdoppler.com/doppler-ui-library/latest/reports.html" target="_blank">
                  <img 
                     src="images/report-card.png" 
                     alt="card de reporte" />
              </a>
          </div>
          <div class="col-lg-4 col-md-6">
              <a href="https://cdn.fromdoppler.com/doppler-ui-library/latest/reports.html" target="_blank">
                  <img 
                     src="images/report-card-disabled.png" 
                     alt="card de reporte" />
              </a>
          </div>
          <div class="col-lg-4 col-md-6 px-3 py-5">
               algunos componentes de la WebApp
          </div>
      </div>
  </section>
  
<section>
  <div class="row border">
    <div class="col-md-6">
      <img src="images/carousel.png" alt="carousel">
    </div>
    <div class="col-md-6">
      <img src="images/text-preview-post.png" alt="preview post" />
    </div>
    <div class="col-12">
      <img src="images/slide-props.png" alt="slide with props">
      <img src="images/slide.png" alt="slide">
    </div>
  </div>
</section>

<section>
  <small>Uso de los componentes de Slide y de TextPreviewPost</small>
  <div class="row border">
    <div class="col-md-6">
      <img src="images/carousel.png" alt="carousel">
    </div>
    <div class="col-md-6">
      <img src="images/use-slide-as-component.png" alt="use of slide" class="border border-primary" style="border-width: 5px !important;" />
      <img src="images/use-slide-as-function.png" alt="use of slide" class="border border-danger" style="border-width: 5px !important;" />
    </div>
  </div>
</section>

<section>
  <small>Uso del componente Carousel</small>
  <div class="row border">
    <div class="col-md-6">
      <img src="images/carousel-component.png" alt="carousel">
    </div>
    <div class="col-md-6">
      <img src="images/use-of-carousel.png" alt="use of carousel" />
    </div>
  </div>
</section>
    
    <section>
  <small>Uso del componente Carousel</small>
  <div class="row border">
    <div class="col-md-6">
      <img src="images/carousel-component.png" alt="carousel">
    </div>
    <div class="col-md-6">
      <img src="images/use-of-carousel-with-other.png" alt="use of carousel" />
    </div>
  </div>
</section>
</section>
