<section>
    <section id="react-main">
        <h2>React</h2>
        <hr/>
        <ul>
            <li>Creado por Facebook</li>
            <li>El primer prototipo se crea en el 2011</li>
            <li>Surge debido a las necesidades derivadas de la creación de Facebook</li>
            <li>En el 2012 se prueba en Instagram dando resultados positivos</i>
            <li>En el 2013 Facebook lanza React como código abierto<i/>
            <li>Muchas aplicaciones lo usan actualmente: AirBnB, Netflix, Dropbox, BBC, etc</li>
        </ul>
    </section>
    <!--
        Bloques de diapositivas
    -->
    
    <section data-markdown>
        ### Objetivo de React
        
    </section>
    
    <section>
        <h3>Virtual DOM</h2>
        <hr/>
        <ul>
            <li>Representación liviana en memoria del DOM Real</li>
            <li>Los nodos del Virtual DOM son diferentes a los nodos del DOM Real</li>
            <li>React realiza una comparación para determinar que cambios hay que aplicar en el DOM Real</li>
        </ul>
    </section>

</section>
