<section>
    <section id="react-main">
        <h2>React</h2>
        <hr/>
        <ul>
            <li>Creado por Facebook</li>
            <li>El primer prototipo se crea en el 2011</li>
            <li>Surge debido a las necesidades derivadas de la creación de Facebook</li>
            <li>En el 2012 se prueba en Instagram dando resultados positivos</li>
            <li>En el 2013 Facebook lanza React como código abierto</li>
            <li>Muchas aplicaciones lo usan actualmente: AirBnB, Netflix, Dropbox, BBC, etc</li>
        </ul>
    </section>
</section>

