<!-- JSX (Javascript XML) -->
<section>
  <section>
    <h2>JSX - ¿Qué es?</h2>
    <hr />
    <ul>
      <li>Extiende JavaScript</li>
      <li>Permite describir la interfaz de usuario</li>
      <li>Utiliza la nomenclatura de nombres <a href="https://techlib.net/definition/camelcase.html" target="_blank">camelCase</a></li>
      <li>JSX es un código no estándar, y por lo tanto el navegador no lo entiende. Necesita ser transformado con Babel</li>
      <li>El uso de JSX es recomendado, pero no es obligatorio</li>
    </ul>
    <div style="text-align: right">
      <a href="https://reactjs.org/jsx-compiler.html/" target="_blank">Probar Babel</a>
    </div>
  </section>
  
  <section>
    <h3>JSX - Proceso de transformación</h3>
    <hr />
    <p>Código JSX</p>
    <img src="images/código-jsx.png" alt="codigo jsx" />
  </section>
  
  <section>
    <h3>JSX - Proceso de transformación</h3>
    <hr />
    
    <p>Tranformación realizada por Babel</p>
    <img src="images/objeto-devuelto.png" alt="objeto devuelto" />
  </section>
  
  <section>
    <h3>JSX - Proceso de transformación</h3>
    <hr />
    
    <p>El objeto resultante de la llamada a React.createElement</p>
    <img src="images/codigo-jsx-transformado.png" alt="codigo jsx transformado" />
  </section>
</section>
