<!-- ¿Qué es React? -->
<section>
    <section id="react">
        <h2>React</h2>
        <hr/>
        <ul>
            <li>Creado por Facebook</li>
            <li>El primer prototipo se crea en el 2011</li>
            <li>Surge debido a las necesidades derivadas de la creación de Facebook</li>
            <li>En el 2012 se prueba en Instagram dando resultados positivos</li>
            <li>En el 2013 Facebook lanza React como código abierto</li>
            <li>Muchas aplicaciones lo usan actualmente: AirBnB, Netflix, Dropbox, BBC, etc</li>
            <li>
                <a 
                   href="https://es.wikipedia.org/wiki/React#:~:text=pantalla%20m%C3%A1s%20suave.-,Antecedentes%20e%20inicios%20(2010%2D%202013)%E2%80%8B,stack%20PHP%20como%20c%C3%B3digo%20abierto.&text=Abril%2C%202012%3A%20Facebook%20adquiere%20Instagram,React%20como%20un%20c%C3%B3digo%20abierto."
                   target="_blank">
                   Ver mas detalles
                </a>
           </li>
        </ul>
    </section>
</section>

