<section id="environment">
  <h2>Entorno</h2>
  <hr/>
  <ul>
    <li>React v17.0.2</li>
    <li>
      <a href="https://reactjs.org/docs/create-a-new-react-app.html#create-react-app" target="_blank">
        Create React App
      </a>
    </li>
    <li>Node v16.1.0</li>
    <li>Npm v7.11.2</li>
    <li>Visual Studio Code</li>
    <li>
      <a href="https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi?hl=en" target="_blank">
        React Developer Tools
      </a>
    </li>
  </ul>
</section>
