<section>
  <h2>Contenido:</h2>
  <hr />
  <section id="indice-1">
    <ul>
      <li>¿Qué es React?</li>
      <li>¿Cuál es el objetivo de React?</li>
      <li>JSX (Javascript XML)</li>
      <li>
        ¿Qué son los componentes?
        <ul>
          <li>El estado</li>
          <li>Propiedades</li>
          <li>Hooks useSate & useEffect</li>
          <li>Implementación de un contador</li>
        </ul>
      </li>
    </ul>
  </section>
  <section id="indice-2">
    <ul>
      <li>¿Qué es la memoización?</li>
      <li>useCallback</li>
      <li>Memo</li>
      <li>useMemo</li>
      <li>Lista de tareas: useReducer, Listas y Keys</li>
      <li>Pruebas: Jest y react-testing-library</li>
    </ul>
  </section>
</section>
