<section>
  <h2>Contenido:</h2>
  <br />
  <section id="indice-1">
    <ul>
      <li>¿Qué es React?</li>
      <li>¿Cuál es el objetivo de React?</li>
      <li>JSX (Javascript XML)</li>
      <li>
        ¿Qué son los componentes?
        <ul>
          <li>El estado</li>
          <li>Propiedades</li>
          <li>Hooks useSate & useEffect</li>
          <li>Construyendo una lista de tareas</li>
        </ul>
      </li>
    </ul>
  </section>
  <section id="indice-2">
    <ul>
      <li>
        Otros Hooks: useRef, useContext, useReducer, useMemo, useCallback.
      </li>
      <li>¿Qué es el Virtual DOM?</li>
      <li>Listas y keys</li>
      <li>Pruebas: Jest y react-testing-library</li>
    </ul>
  </section>
</section>
