
<section>
  <h4 class="font-weight-bold">Test unitarios</h4>
  <hr/>
  
  <section>
    ¿Qué es el testing?
    <p class="mt-3">El testing de software se define como un conjunto de técnicas que se utilizan para
verificar que el sistema desarrollado, ya sea por nosotros o por terceros, cumple con
      los requerimientos establecidos.</p>
  </section>
  
  <section>
    ¿Qué son los test unitarios?
    <p class="mt-3">Este tipo de pruebas comprueban elementos básicos de nuestro
software de forma aislada. Es un pequeño programa que comprueba que una unidad de software
tiene el comportamiento esperado. Para ello prepara el contexto, ejecuta dicha unidad
y, a continuación, verifica el resultado obtenido a través de una o varias aserciones
que comparan el resultado obtenido con el esperado.</p>
  </section>
  
  <section>
    Tanto los test no funcionales como los funcionales siguen el mismo proceso a la hora
de generarlos:
    <ul>
      <li>Escenario inicial: Se crean una serie de datos de entrada para poder ejecutar las pruebas.</li>
      <li>Ejecución del tests: Se ejecuta la prueba con sus correspondientes datos de entrada sobre el sistema.</li>
      <li>Evaluación del resultado: El resultado obtenido se analiza para ver si coincide con lo esperado.</li>
    </ul>
    <h4>Normalmente los test no funcionales son generados por el equipo de QA, mientras
que los test funcionales suelen ser creados por los desarrolladores, sobre todo los test
unitarios, de integración y la mayoría de los test de sistema.</h4>
  </section>
  
  <section>
    Características de los test unitarios: 
    <ul>
      <li>Rápidos</li>
      <li>Aislados</li>
      <li>Atómicos</li>
      <li>Fáciles de mantener y extender</li>
      <li>Deterministas (deben producir siempre la misma salida a partir de las mismas condiciones de partida)</li>
      <li>Legibles (Para ello la elección de un nombre autoexplicativo es fundamental)</li>
    </ul>
  </section>
  
  <section>
    Coverage
    <p>
      Es la cantidad de código (medida porcentualmente) que está siento cubierto por las pruebas. O sea, ejecuto las pruebas de mi aplicación y si hay alguna línea de mi código que nunca fue ejecutada en el contexto de las pruebas, entonces dicha línea no está cubierta.
    </p>
  </section>
  
  <section>
    Coverage
    <p>
      Es la cantidad de código (medida porcentualmente) que está siento cubierto por las pruebas. O sea, ejecuto las pruebas de mi aplicación y si hay alguna línea de mi código que nunca fue ejecutada en el contexto de las pruebas, entonces dicha línea no está cubierta.
    </p>
  </section>
  
  <section>
    <div>Coverage</div>
    <img alt="coverage" src="https://res.cloudinary.com/practicaldev/image/fetch/s--WZwTBm8o--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://dev-to-uploads.s3.amazonaws.com/i/z3hxlju7f5uywsesir2g.png" />
  </section>
  
  <section>
    Coverage
    <ul>
      <li>Stmts (Statements): Se refiere a todas las declaraciones del programa</li>
      <li>Branch: Se refiere a cada rama de cada estructura de control (como en las declaraciones if y case), por ejemplo, dada una declaración if, ¿se han ejecutado las ramas verdadera y falsa?</li>
      <li>Funcs (functions): Se refiere al llamado de las funciones o subrutinas del programa</li>
      <li>Lines: Se refiere a cada línea ejecutable en el archivo fuente</li>
    </ul>
  </section>
</section>
