<section>
  <h2>Hook useReducer</h2>
  <hr/>
  
  <section>
    Es un hook de React para actualizar un estado interno por medio de una función llamada reducer.<br/>
    <ul>
      <li>Es uno de los hooks integrados por defecto en React</li>
      <li>Muy similar a useState</li>
      <li>Nos permite delegar la responsabilidad de la lógica de estado a alguien más</li>
      <li>Nos permite mantener limpio el componente.</li>
    </ul>
  </section>
  
  <section>
    <strong>¿Cuándo usarlo?</strong><br/>
    <ul>
      <li>Cuando se tiene un estado complejo, que implique multiple subvalores o propiedades interrelacionadas</li>
      <li>Cuando sobre el estado se realizan muchas operaciones diferentes (existen varias formas de actualizar el estado)</li>
      <li>Cuando el estado siguiente depende del anterior</li>
    </ul>
  </section>
  
  <section>
    <strong>Ejemplos de casos de uso: </strong><br/>
    <ul>
      <li>Una llamada a una api</li>
      <li>Una lista de tareas</li>
      <li>Carrito de compra</li>
    </ul>
  </section>
  
  <section>
    <strong>Llamada a una api de planes</strong><br/>
    <ul>
      <li>Hay que indicar un tipo de mensaje al usuario que indique la busqueda de los datos (loading: true)</li>
      <li>Guardar los datos recibidos de la llamada (plans) e indicar que ya se resolvio la llamada (loading: false) </li>
      <li>En caso de un error, indicar al componente que hubo un error (hasError) e indicar que ya se resolvio la llamada (loading: false)</li>
    </ul>
    Cada una de estas operaciones, representan una acción diferente que se puede realizar sobre el estado. 
  </section>
</section>
